Entorno Virtual Python

venv/
.DS_Store

Archivos Generados por Python y Build

pycache/
*.pyc
*.egg-info/
dist/

Directorios de datos (LOCALES)

Reportes_VETO/


config_devices.json
config.json

Archivos de logs y temporales

*.log

Archivos de configuración local
